
.header {
    background-color: $colorfondo; 
    & &_logo{
    width: 100px;
    .p{
    color: $colortexto;
    }
    }
    }
    
    & &_menu {
    display: flex;
    ul li {
    list-style: none;
    a {
    color: $colorPrincipal;
    &:hover {
    color: blue;
    }
    }
    }
}
    
    
    & &_search {
    width: 200 px;
    input {
    color: black;
    }
    }